.avatar {
   img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
   }
}

.img-size-lg {
   width: 210px !important;
   height: 210px !important;
}

.img-size-md {
   width: 50px !important;
   height: 50px !important;
}
